*{
    margin: 0;
    padding: 0;
    font-family: 'poppins' , sans-serif;
    box-sizing: border-box;
}
.nav{
display: flex;
justify-content:space-between;
align-items:center ;
}
.youtube_logo{
    width: 150px;
    padding: 10px;
}
.logo_div{
    display: flex;
    align-items: center;
}
.sidebar{
    height: 100%;
    width: 230px;
    background-color: white;
    overflow-y: scroll;
}
.sidebar__categories2{
    padding-top: 13px;
}
.sidebar__categories{
    padding-bottom: 13px;
}
.sidebar::-webkit-scrollbar{
    display: nones;
}
.videos{
    background-color: #f9f9f9;
    width: 100%;
    height: 100%;
    padding: 15px 25px;
    border-top: 1px solid #ddd;
    overflow-y: scroll;
} 

.videos__container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.video {
    width: 310px;
    margin-right: 10px;
    margin-bottom: 30px;
}
.video__thumbnail{
    width: 100%;
    height: 170px;
}
.video__thumbnail img{
    object-fit: cover;
    height: 100%;
    width: 100%;

}
.author img{
    object-fit: cover;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-right: 10px;
}
.video__details{
    display: flex;
    margin-top: 10px;
}
.title{
    display: flex;
    flex-direction: column;
}
.title h3{
    color: rgb(3, 3, 3);
    line-height: 18px;
    font-size: 14px;
    margin-top: 6px;
}

.title a, span{
     text-decoration: none;
    color: rgb(96, 96, 96); 
     font-size: 14px;

}
h1{
    font-size: 20px;
    margin-bottom: 10px;
    color: rgb(3, 3, 3);
}